.login form{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: linear-gradient(135deg, #b3d1ff, #f0c4ff);
    padding: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

.login form input{
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.login form button{
    padding: 15px;
    border: none;
    outline: none;
    background: linear-gradient(135deg, #a8ff78, #78c0ff);
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login form button:hover{
    background: linear-gradient(135deg, #a8ff78, #78c0ffcc);
}

.login form p a{
    color: red;
}

.login .err{
    background-color: black;
    color: red;
    padding: 15px;
    border-radius: 6px;
}